.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.bar {
  max-height: 512px
}
.content{
  margin-top: 12ch;
}
input{
  max-width: 100px;
  text-align: start;
  border:2px #727272 solid;
  border-radius: 2px;
  min-height: 30px;
  margin: 0 2.5px;
  box-shadow: inset 1px 1px 9px -6px rgba(0,0,0,0.5);
}
input:focus{
  box-shadow: 0 0px 5px 0 rgb(28, 77, 236);
  outline: 0;
}
.a {
  color: white;
  text-decoration: none;
}
.a:visited{
  color: white;
}

.floating {
  position: relative;
  bottom: 5%; left: 5%;
  cursor: pointer;
}

.table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  max-width: 1080px;
}
.button{
  margin-top: 2%;
  margin-bottom: 1%;
}
.typo {
  margin: 2% auto;
  text-align: center;
  font-size: medium;
}

.tool {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 3%;
}